.navbar-brand {
    position: relative;
    background: url(../img/stream.png);
    width: 170px;
    left: 15px;
    background-size: contain;
}

.video-panel{
    width: 450px;
    height: 300px;
    margin: 20px;
}